:root {
    --azul: #0f637a;
    --yellow: #ffd900;
}

body {
    background-color: var(--azul);
}

main {
    min-height: 100%;
}

#main-header {
    height: 90px;
}

#app-logo {
    width: 220px;
}
.button-mais{
    color: white;
}
#add-todo {
    font-size: 0;
    background-color: var(--yellow);
}
#todo-list .card {
    background-color: var(--yellow);
}

#todos-list .card + .card {
    margin-top: 10px;
}

.todo-text {
    margin: 0;
}
.delete-todo {
    font-size: 0;
}
.card-body {
    background-color: var(--yellow);
}